.casella {
    background-color: #0b0e0b; 
    border: none;
    margin: 4px 2px;
    width:30px;
    height:30px;
    cursor: pointer;
  }

.button {
  width:15%;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ed3330;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;

}

.centerAll {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button:hover{
  width:15%;
  background: #434343;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}
.casella:hover {background-color: #414040}

.casella:active {
background-color: #b84242;
}

.verticalLine{
    border-left: 6px solid rgb(100, 25, 2);
    height: 500px;
    margin-left: 40px;
    margin-right: 40px;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

body {
  text-align: center;
  background: #c8c0d5;
	font-family: 'Montserrat', sans-serif;
}

textarea {
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

h3{
  font-family: 'Luckiest Guy';
}

h2{
  font-size: 90pt;
  font-family: 'Luckiest Guy';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -6px 0 #212121,  
                  0px -6px 0 #212121,
                  0px  6px 0 #212121,
                  0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                  6px  0px 0 #212121,
                -6px  0px 0 #212121,
                  6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                  6px -6px 0 #212121,
                -6px  6px 0 #212121,
                  6px  6px 0 #212121,
                -6px  18px 0 #212121,
                  0px  18px 0 #212121,
                  6px  18px 0 #212121,
                  0 19px 1px rgba(0,0,0,.1),
                  0 0 6px rgba(0,0,0,.1),
                  0 6px 3px rgba(0,0,0,.3),
                  0 12px 6px rgba(0,0,0,.2),
                  0 18px 18px rgba(0,0,0,.25),
                  0 24px 24px rgba(0,0,0,.2),
                  0 36px 36px rgba(0,0,0,.15);
}

  
h1 {
  font-size: 144pt;
  font-family: 'Luckiest Guy';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -6px 0 #212121,  
                  0px -6px 0 #212121,
                  0px  6px 0 #212121,
                  0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                  6px  0px 0 #212121,
                -6px  0px 0 #212121,
                  6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                  6px -6px 0 #212121,
                -6px  6px 0 #212121,
                  6px  6px 0 #212121,
                -6px  18px 0 #212121,
                  0px  18px 0 #212121,
                  6px  18px 0 #212121,
                  0 19px 1px rgba(0,0,0,.1),
                  0 0 6px rgba(0,0,0,.1),
                  0 6px 3px rgba(0,0,0,.3),
                  0 12px 6px rgba(0,0,0,.2),
                  0 18px 18px rgba(0,0,0,.25),
                  0 24px 24px rgba(0,0,0,.2),
                  0 36px 36px rgba(0,0,0,.15);
}

